<div class="flex space-x-4">
    <a href="/" class="text-gray-600 hover:text-gray-800 px-2">Головна</a>
    <a href="/Profile" class="text-gray-600 hover:text-gray-800 px-2">Профіль</a>
    <a href="/Settings" class="text-gray-600 hover:text-gray-800 px-2">Налаштування</a>
</div>
