@page
@model NewsletterModel
<h2>newsletter</h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <button type="submit">Subscribe</button>
    @Html.AntiForgeryToken()
</form>
<partial name="_ValidationScriptsPartial" />

