@page
@model RegisterModel
<h2>register</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" />
        <span asp-validation-for="Input.Name"></span>
    </div>
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" type="password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" type="password" />
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>
    <div>
        <label asp-for="Input.Age"></label>
        <input asp-for="Input.Age" />
        <span asp-validation-for="Input.Age"></span>
    </div>
    <button type="submit">Зареєструватися</button>
    @Html.AntiForgeryToken()
</form>

<partial name="_ValidationScriptsPartial" />